*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:"Poppins,sans-serif";
    font-size: 10px;
}
html,body{
    background-color:var(--black);
    
}
:root{
    --grid-length:1;
    --black:#000000;
    --black1:#111;
    --primary-color:#00fd0a;
    --white:#fff;
    --gray:#808080;
}
@font-face {
    font-family: Nemo Nightmares;
    src: url(../fonts/NemoNightmares/Nemo-Nightmares.ttf)
}


@font-face {
    font-family: CSNPWDT NFI;
    src: url(../fonts/csnpwdt-nfi/csnpwdt-nfi.ttf);
}


textarea:focus, input:focus{
    outline: none;    
}
header,#container{
    margin: auto;
}
header{
   
    width: 70%;
    margin-top:10px;

    
}
header h1{
    font-size:8em;
    font-weight: 200;
    font-family:CSNPWDT NFI;   
}
header p{
    font-size:5em;
    font-weight: 300;
    font-family:Nemo Nightmares;
}

header h1,header p{
   
    text-align: center;
    background: -webkit-linear-gradient(var(--white),var(--primary-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family:CSNPWDT NFI;
    
    
}

#container{
    display: grid;
    grid-template-columns: repeat(var(--grid-length),1fr);
    width: 500px;
    height: 650px;
    border-width: 10px;
    border-style: ridge; 
    border-color:var(--gray);
    background-color:var(--white);
}

.divGrid{
    min-width: 5px;
    min-height: 5px;   
}

.wrap-buttons{
    margin-top:-650px;
    width:22%;
    height:200px;
    display:flex;
    flex-flow: column wrap;
    border-style: solid;
    border-color:var(--white);
    left: auto;
    
}
#color{
    width:100%;
}
.box{     
    margin: auto;
    width: 500px;
    margin-top:460px;
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items:baseline;
}
#rangeValue{
    position:relative;
    display:block;
    font-size:3em;
    color:var(--primary-color);
    font-family:CSNPWDT NFI;
}

input[type='range'] {
    overflow: hidden;
    width: 90%;
    border-radius:10px;
    -webkit-appearance: none;
    background-color: #111;
       
  }

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
    background:#00fd0a;
    border: 4px solid #333;
    box-shadow: -407px 0 0 400px #00fd0a;
  }